.places {
    display: grid;
    max-width: 984px;
    padding: 0;
    padding-top: 92px;
    margin: 0;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .places {
        margin-top: 88px;
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin-top: 64px;
        row-gap: 50px;
        min-width: minmax(288px 320px);
    }
}