.place {
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: repeat(2, auto);
    margin: 0;
    padding: 80px 0 0 0;
    gap: 40px;
}

.place:first-of-type {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px auto;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
        padding: 72px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        padding: 50px;
    }
}

.place__title {
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 228px;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0;
    }
}

.place__image {
    width: 460px;
    height: 460px;
    object-fit: cover;
    justify-self: start;
    margin: 0 40px 0 0;
}

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 0 16px 0;
    }
}

.place__url-heading {
    color: #aaa;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 0 0 12px 0;
    padding: 0;
}

.place__link {
    color: #fff;
    text-decoration-line: underline;
    font-family: 'Inter';
}

.place__link:hover {
    opacity: 0.7;
}

.place__paragraphs {
    margin: 0;
}

.place__paragraph {
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    width: 484px;
    margin: 0 0 26px 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        width: 352px;
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: calc(100% - 2 * 16px);
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph:last-of-type {
        margin: 0;
    }
}
.cover {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(./images/sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-color: grey;
    background-position: center;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        margin: 90px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        margin: 66px 0 0 0;
    }
}
.cover__overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    margin: 0;
}

.cover__overlay:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        width: 100%;
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        width: 100%;
        margin: 90px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        width: 100%;
        margin: 66px 0 0 0;
    }
}
.cover__title {
    width: 560px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto 32px;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        margin: 0 auto 16px;
        font-size: 32px;
        line-height: 35px;
    }
}

.cover__subtitle {
    width: 360px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 16px;
    }
}

.footer {
    min-height: 18px;
    max-width: 1184px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 92px auto 24px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        max-width: 186px;
        margin: 64px auto 24px 0;
        padding: 0 0 0 16px;
    }
}

.footer__link {
    color: #fff;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 auto 32px 16px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link:last-of-type {
        font-size: 24px;
        line-height: 24px;
        margin: 0 auto 0px 16px;
    }
}

.footer__copyright {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin: 48px auto 24px 16px;
    }
}