.intro__list {
    list-style: none;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    max-width: 690px;
    margin: 33px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin-top: 34px;
    }
}