.cover__subtitle {
    max-width: 360px;
    width: 100%;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 18;
    position: relative;
}

@media screen and (max-width: 720px) {
    .cover__subtitle {
        max-width: 288px;
        width: calc(100% - 16px*2);
        font-size: 14px;
        line-height: 16px;
    }
}