.footer__links {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 320px) {
    .footer__links {
        display: grid;
        row-gap: 32px;
        margin: 0 auto 0 16px;
    }
}