.footer__copyright {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 14px;
        margin: 48px auto 24px 16px;
    }
}