.place__link {
    color: #fff;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.place__link:hover {
    opacity: 0.8;
    transition: opacity 1s;
}