.intro__title {
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-style: normal;
    line-height: 58px;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        width: 100%;
    }
}