.intro__title {
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__title {
        width: calc(100% - 2 * 16px);
        margin: 64px 16px 0 16px;
    }
}